[SddmGreeterTheme]
Name=minimalist-sddm-theme
Description=minimalist-sddm-theme
Author=keyitdev
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=minimalist-sddm-theme
